<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/admin.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <a href="/users/dashboard">Home</a>
          <a href="/users/register">LogOut</a>
        </nav>
      </header>
    <h1 style="color: teal;">hola admin</h1>
</body>
</html>