<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="/register.css">
  <title>Register</title>
</head>

<body>
  <section class="container">
    <form class="form signin" action="/users/register" method="POST">
      <h2>Sign Up</h2>
      <article class="inputBox">
        <input type="text" id="name" name="name" placeholder="UserName" required />
        <i class="fa-regular fa-user"></i>
        <span>UserName</span>
      </article>

      <article class="inputBox">
        <input type="email" id="email" name="email" placeholder="Email" required />
        <i class="fa-regular fa-envelope"></i>
        <span>Email</span>
      </article>

      <article class="inputBox">
        <input type="password" id="password" name="password" placeholder="Create Password" required />
        <i class="fa-solid fa-lock"></i>
        <span>Create Password</span>
      </article>

      <article class="inputBox">
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" required />
        <i class="fa-solid fa-lock"></i>
        <span>Confirm Password</span>
      </article>

      <article class="inputBox">
        <input type="submit" value="Register" />
      </article>
      <p>Already registered? Login here <a href="/users/login">Log in</a></p>
    </form>
  </section>

  <ul>
    <% if (typeof errors !='undefined' ) { %>
      <% errors.forEach(error=> { %>
        <li>
          <%= error.message %>
        </li>
        <% }) %>
          <% } %>
  </ul>
  <!-- <form action="/users/register" method="POST">
    <div>
      <input type="text" id="name" name="name" placeholder="Name" required />
    </div>
    <div>
      <input type="email" id="email" name="email" placeholder="Email" required />
    </div>
    <div>
      <input type="password" id="password" name="password" placeholder="Password" required />
    </div>
    <div>
      <input type="password" id="password2" name="password2" placeholder="Confirm Password" required />
    </div>
    <div>
      <input type="submit" value="Register" />
    </div>

    <a href="/users/login">Already registered? Login here</a>
  </form> -->
</body>

</html>