<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeeMovie</title>
    <link rel="stylesheet" href="/verMovie.css">
</head>
<body>
    <header>
        <nav>
          <a href="/users/dashboard">Home</a>
          <a href="/users/register">LogOut</a>
          <a href="">
            <%= user %>
          </a>
        </nav>
      </header>
</body>
</html>